/* Mata Valdez Itzel Regina */

header{
	font-family: Times New Roman; font-size: 50px; text-align: center;
}

nav{
	color: #A9A9A9; font-size: 20px; text-align: Center; gap: 15px;
}

.nav-top {
    display: flex;
    align-items: center;
    gap: 15px;
    color: #A9A9A9;
}

.push-right {
    margin-left: auto;
}

main {
  display: flex; padding: 30px; font-size: 20px;
}

aside {
  flex: 1;
}

aside img {
  width: 70%; height: auto;
}

section {
  flex: 2;
  text-align: justify; 
}

form{
	font-family: Times New Roman; font-size: 20px; text-align: justify;
}

